<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs')%>

    <div class="details content">
    <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
    <a class="delete" data-doc="<%= blog._id %>">🗑</a>
  </div>

    <%- include('../partials/footer.ejs')%>

    <script>
        const transhcan = document.querySelector('.delete');
        transhcan.addEventListener('click',(e)=>{
            const endpoint = `/blogs/${transhcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response)=> response.json())
            .then((data) => window.location.href = data.redirect )
            .catch(error=>console.log(error))
        })
    </script>
</body>
</html>

